<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
      </div>
    </div>

<hr>
<router-outlet></router-outlet>
<hr>

<div class="row">
    <div class="col btn btn-primary "><button routerLink="teams"> Teams </button></div>
    <div class="col btn btn-primary "><button routerLink="company"> Company </button></div>
    <div class="col btn btn-primary "><button routerLink="services"> Services </button></div>
    <div> <a routerLink="teams">goto teams</a></div>
    
</div>


  </div>

