<div class="container mt-5 bg-light  ">
    <div class="row justify-content-center ">
        <div class="col-6">
    <h2>Student Registration Form</h2>

{{studentReg.form.controls | json}}<br>
`isvalid {{name.valid}} invalid - {{name.invalid}} - istouched {{name.touched}} - dirty - {{name.dirty}}`
<h1>{{msg}}</h1>
{{student | json}}
    <form #studentReg="ngForm" (ngSubmit)="onSubmit(studentReg)">
      <div class="form-group">
        <label for="name">Name:</label>
        <input [class.is-invalid]="name.invalid && name.touched"   type="text" class="form-control " #name="ngModel" name="name" placeholder="Enter name" [(ngModel)]="student.name" required>
          @if(name.invalid && name.touched){
          <small class="text-danger">Name is mandatory</small>
          }
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input  [class.is-invalid]="email.invalid && email.touched" type="email" class="form-control" #email="ngModel" name="email" placeholder="Enter email" [(ngModel)]="student.email" required email >

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Invalid email format.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="mobile">Mobile:</label>
        <input type="tel" class="form-control" name="mobile" placeholder="Enter mobile" [(ngModel)]="student.mobile">
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth:</label>
        <input type="date" class="form-control" name="dob"  [(ngModel)]="student.dob">
      </div>
      <div class="form-group">
        <label>Gender:</label><br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked [(ngModel)]="student.gender">
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gender" id="female" value="female" [(ngModel)]="student.gender">
          <label class="form-check-label" for="female">Female</label>
        </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" name="subscribe" [(ngModel)]="student.subscribe">
        <label class="form-check-label" for="subscribe">Subscribe to News Letter</label>
      </div>
      <div class="form-group">
        <label for="course">Course:</label>
        <select class="form-control" name="course" [(ngModel)]="student.course">
            <option value="">Select Course</option>
            <option value=".Net">.Net</option>
          <option value="Java">Java</option>
          <option value="Angular">Angular</option>
          <option value="Web API">Web API</option>
        </select>
      </div>
      <!-- [disabled]="studentReg.invalid" -->
      <button  type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</div>