<div class="container-fluid bg-warning  ">
  <div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-warning ">
  <a class="navbar-brand" routerLink="">Routing Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item text-white ">
        <a class="nav-link" routerLink="home" routerLinkActive="active"> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products" routerLinkActive="active">Products List</a>
      </li>
    </ul>
  </div>
</nav>
</div>
</div>

<button #showme>Show products</button>

@defer (on hover(showme)) {
<app-product-list></app-product-list>
}@placeholder {
  <h1>Loading wait...</h1>
}
@loading(minimum 5s) {
  
  <img src="../assets/loading.webp" alt="loading...">
}
<app-home></app-home>
<hr>
<app-contact></app-contact>
<hr>
<app-about></app-about>
<hr>




@defer () {
<router-outlet></router-outlet>
}
<app-footer></app-footer>